<%- include ('../partials/header.ejs'); %>
<body>
    <%- include ('../partials/navbar.ejs'); %>
    <div class="container">
        <% tasks.forEach((task) => { %>
            <br>
            <div class="card">
                <div class="card-header">
                    <h3> Usuário: <%= task.id_user %> </h3>
                </div>
                <div class="card-body">
                    <h4> <%= task.title %> </h4>
                    <p> <%= task.description %> </p>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include ('../partials/footer.ejs'); %>